Tree
Recursion
Graph/DSU_by_Rank.exe
Graph/DSU_by_Size.exe
Linked List/creation.exe
Linked List/doublyLL.exe
Stack/LL_Implementation.exe
Sorting/Selection_Sort.exe
Sorting/Bubble_Sort.exe
Sorting/insertion_Sort.exe
Sorting/merge_sort.exe
Sorting/Quick_Sort.exe
Queue/create.exe
Arrays 1/chocholate_distribution.exe
Arrays 1/candel.exe
Arrays 1/Array_union.exe
OOP/basic.exe
